body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: #f1f1f1;
}

body {
    background-image: url("/images/calculator-385506_1920.jpg");
}

.register-form {
    margin: 50px auto;
    padding: 25px 20px;
    background: #3a1975;
    box-shadow: 2px 2px 4px #ab8de0;
    border-radius: 5px;
    color: #fff;
}

.register-form h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #25055f;
}