<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formularz rejestracyjny</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2">
            <div class="register-form">
                <p class="register-form"><a th:href="@{/main}">wróć do menu głównego</a></p>
                <div class="register-form">
                    <form method="post" th:action="@{/register}" th:object="${data}">
                        <h2 class="text-center">Rejestracja</h2>
                        <p class="hint-text">Utwórze swoje konto w jedną minutę</p>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="number" th:field="*{id}" hidden="true">
                                </div>
                                <div>
                                    <input type="text" th:field="*{role}" value="broker" hidden="true">
                                </div>
                                <div>
                                    <input type="text" th:field="*{licenceNumber}" hidden="true">
                                </div>
                                <div class="form-group">
                                    <label>Nazwa przedsiębiorstwa</label>
                                    <input type="text" th:field="*{companyName}" class="form-control"
                                           placeholder="Nazwa przedsiębiorstwa">
                                    <p th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Imię</label>
                            <input type="text" th:field="*{firstName}" class="form-control" placeholder="imię"
                                   th:class="${#fields.hasErrors('firstName')}? fieldError">
                        </div>
                        <div class="form-group">
                            <label>Nazwisko</label>
                            <input type="text" th:field="*{lastName}" class="form-control" placeholder="Nazwisko">
                        </div>
                        <div class="form-group">
                            <label>Numer telefonu</label>
                            <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="Telefon">
                            <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
                        </div>
                        <div class="form-group">
                            <label>Ulica</label>
                            <input type="text" th:field="*{street}" class="form-control" placeholder="Ulica">
                            <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></p>

                        </div>
                        <div class="form-group">
                            <label>Kod pocztowy</label>
                            <input type="text" th:field="*{postalCode}" class="form-control" placeholder="Kod pocztowy">
                            <p th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></p>
                        </div>
                        <div class="form-group">
                            <label>Miasto</label>
                            <input type="text" th:field="*{city}" class="form-control" placeholder="Miasto">
                            <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
                        </div>
                        <div class="form-group">
                            <label>Powiat</label>
                            <input type="text" th:field="*{district}" class="form-control" placeholder="Powiat">
                        </div>
                        <div class="form-group">
                            <label>Gmina</label>
                            <input type="text" th:field="*{commune}" class="form-control" placeholder="Gmina">
                        </div>
                        <div class="form-group">
                            <label>Województwo</label>
                            <input type="text" th:field="*{province}" class="form-control" placeholder="Województwo">
                        </div>
                        <div class="form-group">
                            <label>Państwo</label>
                            <input type="text" th:field="*{country}" class="form-control" placeholder="Państwo">
                        </div>
                        <div class="form-group">
                            <label>Numer KRS</label>
                            <input type="text" th:field="*{krsNumber}" class="form-control" placeholder="KRS">
                            <p th:if="${#fields.hasErrors('krsNumber')}" th:errors="*{krsNumber}"></p>
                        </div>
                        <div class="form-group">
                            <label>Numer REGON</label>
                            <input type="text" th:field="*{regonNumber}" class="form-control" placeholder="Regon">
                            <p th:if="${#fields.hasErrors('regonNumber')}" th:errors="*{regonNumber}"></p>
                        </div>
                        <div class="form-group">
                            <label>Numer NIP</label>
                            <input type="text" th:field="*{nipNumber}" class="form-control" placeholder="NIP">
                            <p th:if="${#fields.hasErrors('nipNumber')}" th:errors="*{nipNumber}"></p>
                        </div>
                        <div class="form-group">
                            <label>Numer PKD</label>
                            <input type="text" th:field="*{pkdNumber}" class="form-control" placeholder="PKD">
                            <p th:if="${#fields.hasErrors('pkdNumber')}" th:errors="*{pkdNumber}"></p>
                        </div>
                        <div class="form-group">
                            <label>Nazwa użytkownika</label>
                            <input type="text" th:field="*{username}" class="form-control"
                                   placeholder="Nazwa użytkownika">
                            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                        </div>
                        <div class="form-group">
                            <label>Adres email</label>
                            <input type="email" th:field="*{email}" class="form-control" placeholder="Email">
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                        </div>
                        <div class="form-group">
                            <label>Hasło</label>
                            <input type="password" th:field="*{password}" class="form-control" placeholder="Hasło">
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        </div>
                        <div class="form-group">
                            <label>Powtórz hasło</label>
                            <input type="password" th:field="*{confirmedPassword}" class="form-control"
                                   placeholder="Powtórz hasło">
                            <p th:if="${#fields.hasErrors('confirmedPassword')}" th:errors="*{confirmedPassword}"></p>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" required="required"> Zgadasz się z <a href="#">Warunkami</a>
                                    & <a href="#">Regulaminem</a>.
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="submit" value="Zarejestruj"
                                               class="btn btn-primary btn-block btn-lg" tabindex="7">
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <a href="#" class="btn btn-success btn-block btn-lg">Zaloguj</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</div>
</body>
</html>