<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org/extras/dialect"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a th:href="@{/main}">wróć do menu głównego</a></p>
<p>Formularz wniosku</p>

    <form method="post" th:object="${data}" th:action="@{''}">

            <select th:field="*{generalInsuranceCategory}"  onchange="this.form.submit()">
                <option th:each="elem : ${generalCat}" th:value="${elem.id}" th:text="${elem.name}">
                </option>
            </select>


            <div th:each="element : ${subcategories}">
                        <input type="checkbox" th:text="${element.name}" th:value="${{element.id}}"
                               th:field="*{subcategories}"/><br/>
            </div>
<!--             <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
        <sec:csrfInput/>
            <button type="submit" value="save" class="button" name="save">Save</button>
    </form>
</body>
</html>