<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Formularz wniosku</p>

<table>
    <!--    <tr>
            <td>Wybierz kategorię ubezpieczenia:</td>
            <td>
                <select>
                    <option value=""> &#45;&#45;</option>
                    <option th:each="entry : ${mapa.values()}"
                            th:value="${entry}"
                            th:utext="${entry}"/>
                </select>
            </td>
        </tr>

        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>-->

    <form th:action="@{/client/request/add}" method="post" th:object="${data}">
        <!--     <input type="hidden" th:field="*{id}"/>
             <div>
                 <label for="project_name"> Project Name:</label>
                 <input type="text" id="project_name" th:field="*{name}"/>
             </div>-->
        <div>
            <label>Rodzaje ubezpieczeń:</label>
            <ul>
                <li th:each="element : ${mapa}">
                    <p th:text="${element.key.getName()}"></p><br/>
                    <table>
                        <tr th:each="elem : ${element.value}">
                            <input type="checkbox" th:text="${elem.getName()}" th:value="${{elem}}"
                                   th:field="*{subcategories}"/><br/>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <div class="actions">
            <button type="submit" value="Save" class="button">Save</button>
        </div>
    </form>
</table>
<p><a th:href="@{/main}">wróć do menu głównego</a></p>
</body>
</html>